<html lang="en">
<div style="background-color: #e1f3fa; height: 100%; width: 100%;">
    <table cellpadding="25" style="margin: 0px auto;">
        <tbody>
            <tr>
                <td>
                    <table cellpadding="24" width="584px"
                        style="margin: 0 auto; max-width: 584px; background-color: #e1f3fa; border: 1px solid #a8adad;">
                        <tbody>
                            <tr>
                                <td style="text-align: center;"><img
                                        src="https://res.cloudinary.com/fouvtycloud/image/upload/v1662983332/FauxTurf/login_gw6jg9.png"
                                        width="270" height="170" caption="false" /></td>
                            </tr>
                        </tbody>
                    </table>
                    <table cellpadding="24"
                        style="background: #fff; border: 1px solid #a8adad; width: 584px; border-top: none; color: #4d4b48; font-family: Arial, Helvetica, sans-serif; font-size: 13px; line-height: 18px; box-shadow: 0px 2px 2px #A8ADAD;">
                        <tbody>
                            <tr>
                                <td>
                                    <h2 style="margin-top: 0; margin-bottom: 20px;color:  #0088c7;">Verify your OTP
                                    </h2>
                                    <p style="margin-top: 0; margin-bottom: 10px;">Here is the One Time Passcode (OTP)
                                        for completing your login:&nbsp;</p>
                                    <h2 style="margin-top: 0; margin-bottom: 10px; color: #0088c7; text-align: center;">
                                        <b><br />{{otp}}<br /><br /></b>
                                    </h2>
                                    <p style="margin-top: 0; margin-bottom: 10px;">Please use this Passcode to complete
                                        your signup. Do not share this Passcode with anyone.</p>
                                    <p style="margin-top: 0; margin-bottom: 15px; color: #0088c7;"><span color="#0088c7"
                                            style="color: #0088c7;">
                                            <b>
                                                <h4> FauxSpots <span>from</span> FOUV<span
                                                        style="color: #008000;">TY</span></h4>
                                            </b>
                                        </span></p>
                                    <p style="margin-top: 0; margin-bottom: 0px; font-size: 11px;">Disclaimer: This
                                        email and any files transmitted with it are confidential and intended solely for
                                        the use of the individual or entity to whom they are addressed.</p>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
        </tbody>
    </table>
</div>

</html>